div.welcome-container{
    box-sizing: border-box;
    overflow: hidden;
}
video{
    overflow: hidden;
}
.center-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.filter-container{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
.validate-section{
    color: var(--danger);
    font-weight: bold;
}
p[name="validation-label"]{
    color:#fff;
}
i{
    margin-left: 4px;
}
.fa-spinner{
    animation: spinner 4s infinite normal;
}
.accounts-container{
    border: 1px solid #dfe6e9;
    border-radius: 4px;
    padding: 7px;
}
.container-fluid{
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}
.user-account-info, .account-info{
    margin-bottom: 15px;
}
.user-account-info h6, 
.account-info h6,
.user-account-info h5, 
.account-info h5{
    text-transform:none;
    margin-top:-10px;
    font-size: 0.8rem; 
}
.banner-account{
    min-width: 100%;
    max-height: 175px;
}
.modal-header{
    display:flex;
    justify-content: space-between;
}
button.close{
    margin-left: -16 !important;
    margin-left: 0px !important;
}
@keyframes spinner{
    from{
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }to{
        transform: rotate(360deg);
        transform-origin: 50% 50%;
    }
}