div.welcome-container{
    box-sizing: border-box;
    overflow: hidden;
}

.center-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.filter-container{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
.validate-section{
    color: var(--danger);
    font-weight: bold;
}
p[name="validation-label"]{
    color:#fff;
}